.title{
    font-family: "Times New Roman", serif;
    font-size: 45px;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    background: linear-gradient(0deg,red,pink,red);
    -webkit-background-clip: text;
    color: transparent;
}

.text{
    font-family: Arial, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

.bodyStyle{
    background-image: url("../image/v2-b731aa1122969d78b5366fbc2acf4875_1440w.jpg");
    background-size: auto;
    background-repeat: no-repeat;
}

.add{
    font-family: Arial, serif;
    font-weight: bold;
    text-align: center;
    margin-left: 45%;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1em;
    width: 10%;
    height: 40px;
    background: linear-gradient(15deg,gray,white,gray);
}

.error-message{
    color: red;
    list-style: none;
    text-align: center;
}