.allTable {
    border-collapse: collapse;
    border: 2px solid rgb(89, 88, 88);
    letter-spacing: 1px;
    font-family: sans-serif;
    border-radius: 15%;
}

.allTableHeader {
    text-align:center;
    background:none repeat scroll 0 0 #3f87a6;
    border-bottom:1px solid;
    padding:2px;
    color: #fff1eb;
}

.allTableOddRow {
    text-align:center;
    background:none repeat scroll 0 0 #a7d5e8;
}

.allTableEvenRow {
    text-align:center;
    background:none repeat scroll 0 0 #e4f0f5;
}