* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-size: cover;
    font-family: sans-serif;
    overflow: scroll;
}

.header{
    /*width: 100vw;*/
    height: 40px;
    z-index: 10;
    position: relative;
}

.mainteil{
    /*width: 100vw;*/
    position: relative;
    height: calc(100vh - 80px);
    /*height: calc(100vh - 160px);*/
    background: linear-gradient(200deg,#a8edea,#fed6e3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.mainteil .search {
    margin-bottom: 10px;
}

.text{
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 10px;
}

.table{
    /*width: 100vw;*/
    /*height: 45%;*/
    display: flex;
    text-align: center;
    font-weight: bolder;
    justify-content: center;
    align-items: flex-end;
}

.FormControl{
    width: 100vw;
    height: 40px;
    display: flex;
    align-items: flex-start;
    /*position: absolute;*/
    /*bottom: 20px;*/
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.showPage{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.showError{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

.control{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
}

.commandButton1{
    width: 75px;
    height: 50%;
    border-radius: 28px;
    margin-right: 8px;
    box-shadow: #201e1e 0px 0px 0.05em;
    background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
}

.commandButton2{
    width: 95px;
    height: 50%;
    border-radius: 28px;
    margin-right: 8px;
    box-shadow: #201e1e 0px 0px 0.05em;
    background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
}

.commandButton1:hover,.commandButton2:hover{
    background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
}

.footer{
    position: relative;
    height: 40px;
    width: 100vw;
    background: #6dd47d;
}

.footer form{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer form .commandButton3{
    padding: 5px 10px;
    border-radius: 28px;
    box-shadow: #201e1e 0px 0px 0.05em;
    background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
}

.footer form .commandButton3:hover{
    background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
}