* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-size: cover;
    font-family: sans-serif;
}
.header{
    width: 100vw;
    height: 80px;
}
.main{
    width: 100vw;
    height: calc(100vh - 160px);
    background: linear-gradient(200deg,#a8edea,#fed6e3);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    height: 250px;
    width: 65%;
    font-family: Arial, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    background: linear-gradient(15deg,cornflowerblue,darkgray,plum,darkgreen);
    -webkit-background-clip: text;
}
.footer{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-style: oblique;
    background: linear-gradient(to right,black,white,black);
}