.text2{
    font-family: Arial, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    width: 100%;
    margin-top: 400px;
    color: transparent;
    background: linear-gradient(15deg,white,gray,black,gray,white);
    -webkit-background-clip: text;
}

.text1{
    font-size: 40px;
    font-weight: bolder;
    font-family: Arial, serif;
    font-style: italic;
    color: white;
    text-align: right;
    margin-top: 400px;
}